---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        url: https://api.github.com/repos/ocaml/opam-repository/contents/packages/zarith
        method: GET
      response:
        body: '[{"name":"zarith.1.10","path":"packages/zarith/zarith.1.10","sha":"9c9d18f6bc86ed3a2a07b45d587f8e626ec5a1ad","size":0,"url":"https://api.github.com/repos/ocaml/opam-repository/contents/packages/zarith/zarith.1.10?ref=master","html_url":"https://github.com/ocaml/opam-repository/tree/master/packages/zarith/zarith.1.10","git_url":"https://api.github.com/repos/ocaml/opam-repository/git/trees/9c9d18f6bc86ed3a2a07b45d587f8e626ec5a1ad","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/ocaml/opam-repository/contents/packages/zarith/zarith.1.10?ref=master","git":"https://api.github.com/repos/ocaml/opam-repository/git/trees/9c9d18f6bc86ed3a2a07b45d587f8e626ec5a1ad","html":"https://github.com/ocaml/opam-repository/tree/master/packages/zarith/zarith.1.10"}},{"name":"zarith.1.11","path":"packages/zarith/zarith.1.11","sha":"5b44fd1b48e528e03454f4d668d3ee5bec9e0ac2","size":0,"url":"https://api.github.com/repos/ocaml/opam-repository/contents/packages/zarith/zarith.1.11?ref=master","html_url":"https://github.com/ocaml/opam-repository/tree/master/packages/zarith/zarith.1.11","git_url":"https://api.github.com/repos/ocaml/opam-repository/git/trees/5b44fd1b48e528e03454f4d66[...]
    - id: 1
      request:
        host: api.github.com
        url: https://api.github.com/repos/ocaml/opam-repository-archive/contents/packages/zarith
        method: GET
      response:
        body: '[{"name":"zarith.1.1","path":"packages/zarith/zarith.1.1","sha":"ffea279cbbdbc092159e2a844bf6ce52a9ca8447","size":0,"url":"https://api.github.com/repos/ocaml/opam-repository-archive/contents/packages/zarith/zarith.1.1?ref=main","html_url":"https://github.com/ocaml/opam-repository-archive/tree/ma[...]
