---
version: 2
interactions:
    - id: 0
      request:
        host: packagemanager.posit.co
        url: https://packagemanager.posit.co/__api__/repos/2/packages/readxl
        method: GET
      response:
        body: '{"id":0,"source_type":"","source":"cran","name":"readxl","version":"1.5.0","source_id":1,"tran_create":0,"tran_delete":0,"repo_id":2,"repo_type":"R","repository":"RSPM","checksum":"908347d27f455ba6f42dc0b0619656166cfd916b3e2cffee4eff867ce5014ce7","tran_archive":null,"type":"","description":"Import excel files into R. Supports ''.xls'' via the embedded\n   ''libxls'' C library \u003chttps://github.com/libxls/libxls\u003e and ''.xlsx'' via\n   the embedded ''RapidXML'' C++ library\n   \u003chttps://rapidxml.sourceforge.net/\u003e.  Works on Windows, Mac and Linux\n   without external dependencies.\n","package_date":null,"date_publication":"2026-05-16T21:50:23Z","authors_r":"c(\n   person(\"Hadley\", \"Wickham\", , \"hadley@posit.co\", role = \"aut\",\n          comment = c(ORCID = \"0000-0003-4757-117X\")),\n   person(\"Jennifer\", \"Bryan\", , \"jenny@posit.co\", role = c(\"aut\", \"cre\"),\n          comment = c(ORCID = \"0000-0002-6983-2759\")),\n   person(\"Posit, PBC\", role = c(\"cph\", \"fnd\"),\n          comment = \"Copyright holder of all R code and all C/C++ code without explicit copyright attribution\"),\n   person(\"Marcin\", \"Kalicinski\", role = c(\"ctb\", \"cph\"),\n          comment = \"Author of included RapidXML code\"),\n   person(\"Komarov Valery\", role = c(\"ctb\", \"cph\"),\n          comment = \"Author of included libxls code\"),\n   person(\"Christophe Leitienne\", role = c(\"ctb\", \"cph\"),\n          comment = \"Author of included libxls code\"),\n   person(\"Bob Colbert\", role = c(\"ctb\", \"cph\"),\n          comment = \"Author of included libxls code\"),\n   person(\"David Hoerl\", role = c(\"ctb\", \"cph\"),\n          comment = \"Author of included libxls code\"),\n   person(\"Evan Miller\", role = c(\"ctb\", \"cph\"),\n          comment = \"Author of included libxls code\")\n )\n","author":"Hadley Wickham [aut] (ORCID: \u003chttps://orcid.org/0000-0003-4757-117X\u003e),\n Jennifer Bryan [aut, cre] (ORCID:\n   \u003chttps://orcid.org/0000-0002-6983-2759\u003e),\n Posit, PBC [cph, fnd] (Copyright holder of all R code and all C/C++\n   code without explicit copyright attribution),\n Marcin Kalicinski [ctb, cph] (Author of included RapidXML code),\n Komarov Valery [ctb, cph] (Author of included libxls code),\n Christophe Leitienne [ctb, cph] (Author of included libxls code),\n Bob Colbert [ctb, cph] (Author of included libxls code),\n David Hoerl [ctb, cph] (Author of included libxls code),\n Evan Miller [ctb, cph] (Author of included libxls code)\n","maintainer":"Jennifer Bryan \u003cjenny@posit.co\u003e","license":"MIT + file LICENSE","url":"https://readxl.tidyverse.org, https://github.com/tidyverse/readxl","bug_reports":"https://github.com/tidyverse/readxl/issues","occurred":null,"depends":"R (\u003e= 4.1)","imports":"cellranger, tibble (\u003e= 2.0.1), utils","suggests":"covr, knitr, rmarkdown, testthat (\u003e= 3.1.6), withr","linking_to":"cpp11 (\u003e= 0.5.5), progress","enhances":null,"needs_compilation":"yes","system_requirements":null,"installed":false,"title":"Read Excel Files","package_size":2094371,"path":null,"r_dep":null,"os_type":null,"readme":"md","remote_sha":null,"collate":null,"bioc_views":null,"readme_data":"\n\u003c!-- README.md is generated from README.Rmd. Please edit that file --\u003e\n\n# readxl \u003ca href=\"https://readxl.tidyverse.org\"\u003e\u003cimg src=\"man/figures/logo.png\" align=\"right\" height=\"138\" /\u003e\u003c/a\u003e\n\n\u003c!-- badges: start --\u003e\n\n[![CRAN_Status_Badge](https://www.r-pkg.org/badges/version/readxl)](https://cran.r-project.org/package=readxl)\n[![R-CMD-check](https://github.com/tidyverse/readxl/actions/workflows/R-CMD-check.yaml/badge.svg)](https://git[...]
    - id: 1
      request:
        host: packagemanager.posit.co
        url: https://packagemanager.posit.co/__api__/repos/2/packages/aqp
        method: GET
      response:
        body: '{"id":0,"source_type":"","source":"cran","name":"aqp","version":"2.3.2","source_id":1,"tran_create":0,"tran_delete":0,"repo_id":2,"repo_type":"R","repository":"RSPM","checksum":"6e04e7d56c99570c27fe5c89d3ef554e2d524885a2f642e4d1276db5dbb126ae","tran_archive":null,"type":"","description":"The Algorithms for Qu[...]
